.sidebar
  &-front-page
    padding-top: 30px
    width: 23%
    .widget
      &-social-wrapper
        padding: 10px 30px 20px
.widget
  background-color: #fff
  border-radius: 10px
  margin-bottom: 30px
  &-title
    padding: 20px 25px
    border-bottom: 1px solid #D9DADB
    font-size: 14px
    line-height: 20px
    font-family: "Lato Black", sans-serif
    margin: 0
    text-transform: uppercase
  &-downloader
    background: #3BBDC4 url('../images/file.svg') no-repeat top 22px right 24px
    border-radius: 10px
    color: #ffffff
    padding: 25px
    padding-bottom: 55px
    position: relative
    .widget
      &-title
        text-transform: none
        margin-top: 0
        font-family: Roboto Slab
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 25px
        border: none
        padding: 0
      &-link
        position: absolute
        bottom: 0
        left: 0
        right: 0
        text-align: center
        padding-top: 12px
        padding-bottom: 13px
        border-top: 1px solid rgba(#fff, 0.75)
        color: #ffffff
        text-decoration: none
        font-family: "Lato Black", sans-serif
        font-size: 14px
        line-height: 20px
        display: inline-flex
        align-items: center
        justify-content: center
        &-icon
          margin-right: 10px
    .description
      color: #C1F4F5
      font-size: 14px
      line-height: 20px
      margin: 0
  &-social
    padding-bottom: 60px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-icon
      margin-left: 6px
      margin-right: 6px
    .widget
      &-title
        text-align: center
        border: none
        font-family: "Roboto Slab", serif
        font-size: 20px
        line-height: 25px
        text-transform: none
        padding: 30px 25px 31px 25px
      &-link
        text-decoration: none
  .tagcloud
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    padding: 25px
    padding-bottom: 13px
  .tag-cloud-link
    margin-right: 10px
    margin-bottom: 15px
    line-height: 20px
    color: #262D33
    text-decoration: none
    padding: 5px 15px
    border: 1px solid #D9DADB
    border-radius: 5px
