body
  counter-reset: section
.sidebar
  &-front-page
    padding-top: 30px
    width: 23%
    .widget
      &-social-wrapper
        padding: 10px 16px 20px
.widget
  background-color: #fff
  border-radius: 10px
  margin-bottom: 30px
  &-title
    padding: 20px 25px
    border-bottom: 1px solid #D9DADB
    font-size: 14px
    line-height: 20px
    font-family: "Lato Black", sans-serif
    margin: 0
    text-transform: uppercase
  &-downloader
    background: #3BBDC4 url('../images/file.svg') no-repeat top 22px right 24px
    border-radius: 10px
    color: #ffffff
    padding: 25px
    padding-bottom: 55px
    position: relative
    .widget
      &-title
        text-transform: none
        margin-top: 0
        font-family: Roboto Slab
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 25px
        border: none
        padding: 0
      &-link
        position: absolute
        bottom: 0
        left: 0
        right: 0
        text-align: center
        padding-top: 12px
        padding-bottom: 13px
        border-top: 1px solid rgba(#fff, 0.75)
        color: #ffffff
        text-decoration: none
        font-family: "Lato Black", sans-serif
        font-size: 14px
        line-height: 20px
        display: inline-flex
        align-items: center
        justify-content: center
        &-icon
          margin-right: 10px
          fill: #fff
    .description
      color: #C1F4F5
      font-size: 14px
      line-height: 20px
      margin: 0
  &-social
    padding-bottom: 30px
    &-wrapper
      display: flex
      margin: auto
      align-items: center
      justify-content: space-around
      flex-wrap: wrap
    &-icon
      &-ig
        fill: #b62b73
      &-vk
        fill: #45668e
      &-fb
        fill: #4267B2
      &-tw
        fill: #1DA1F2
    .widget
      &-title
        text-align: center
        border: none
        font-family: "Roboto Slab", serif
        font-size: 20px
        line-height: 25px
        text-transform: none
        padding: 30px 25px 31px 25px
      &-link
        text-decoration: none
  &-recent-posts
    &-wrapper
      padding: 0 17px 25px
    a
      display: flex
      align-items: center
      text-decoration: none
      padding-top: 17px
      padding-bottom: 17px
      position: relative
      &:not(:last-child)
        border-bottom: 1px solid #D9DADB
      &::before
        position: absolute
        right: 5px
        color: #262D33
        opacity: 0.08
        font-size: 70px
        line-height: 50px
        font-family: "Lato Black", sans-serif
        font-style: italic
        counter-increment: section
        content: counter(section)
    img
      width: 60px
      height: 60px
      margin-right: 10px
    h4
      font-size: 14px
      font-weight: 400
      line-height: 20px
      color: #4B5157
      margin-top: 0
      margin-bottom: 3px
    span
      color: #939699
      font-size: 12px
      line-height: 15px
  .tagcloud
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    padding: 25px
    padding-bottom: 13px
  .tag-cloud-link
    margin-right: 10px
    margin-bottom: 15px
    line-height: 20px
    color: #262D33
    text-decoration: none
    padding: 5px 15px
    border: 1px solid #D9DADB
    border-radius: 5px
@media screen and ( max-width: 1200px )
  .sidebar
    &-front-page
      width: 30%
@media screen and ( max-width: 960px )
  .sidebar
    &-front-page
      width: 100%
      .widget
        &-social-wrapper
          width: 280px
