.special
  background-color: #262D33
  padding: 60px 0
  color: #ffffff
  &-grid
    display: flex
    justify-content: space-between
.photo-report
  min-height: 570px
  width: 49%
  position: relative
  overflow: hidden
  border-radius: 10px
  border: thin red solid
  &-button
    color: #ffffff
    background: #4592FF
    border-radius: 20px
    padding: 10px 20px
    text-decoration: none
    fill: #fff
    display: flex
    align-items: center
    margin-bottom: 20px
.other
  width: 49%
  border: thin red solid
  border-radius: 10px
  &-posts
    display: flex
    justify-content: space-between
