@font-face {
  font-family: "Lato Black";
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.header {
  background-color: #262D33;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}

.search-form {
  position: relative;
  width: 270px;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form input::-webkit-input-placeholder {
  color: #939699;
}

.search-form input:-ms-input-placeholder {
  color: #939699;
}

.search-form input::-ms-input-placeholder {
  color: #939699;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 20px;
  width: 25px;
  height: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home {
  background-color: #E5E5E5;
}

.front-page-header {
  padding-top: 30px;
  background-color: #262D33;
  position: relative;
  height: 530px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.hero .left {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 48, 61, 0.4);
  z-index: 1;
}

.hero .left .post-thumb {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.hero .left .author {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  z-index: 2;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-title {
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 580px;
}

.hero .left .post-short {
  position: relative;
  z-index: 2;
}

.hero .right {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.hero .right .recommended {
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid #D9DADB;
  min-height: 100px;
}

.hero .right .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .right .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.hero .right .post:hover {
  background-color: #f5f5f5;
}

.hero .right .post-title {
  min-height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 8px;
}

.more {
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  padding-right: 50px;
  background: #4592FF;
  border-radius: 20px;
  text-decoration: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.more:visited, .more:focus, .more:hover {
  color: #ffffff;
}

.category-link {
  color: #4592FF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
}

.category-link.web-design {
  color: #FFA34D;
}

.category-link.javascript {
  color: #6E99AE;
}

.category-link.html, .category-link.compilations {
  color: #AC8EE3;
}

.category-link.css, .category-link.opinions {
  color: #3BBDC4;
}

.category-link.hot {
  color: #FF4F52;
}

.category-link.news {
  color: #4592FF;
}

.article-list {
  margin: 0;
  margin-top: 120px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 25px 35px;
  position: relative;
}

.article-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  height: 70%;
  width: 1px;
  background-color: #4B5157;
  display: block;
}

.article-permalink {
  text-decoration: none;
  color: #ffffff;
  width: 150px;
}

.article-permalink:hover {
  color: #ffffff;
}

.article-permalink:visited {
  color: #fff;
}

.article-title {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.main-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-date {
  color: #939699;
}

.article-grid {
  width: 74%;
  margin: 30px 0 60px;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  -ms-grid-rows: (minmax(200px, max-content))[3];
      grid-template-rows: repeat(3, minmax(200px, -webkit-max-content));
      grid-template-rows: repeat(3, minmax(200px, max-content));
  grid-auto-rows: minmax(200px, -webkit-max-content);
  grid-auto-rows: minmax(200px, max-content);
  grid-gap: 30px;
}

.article-grid-permalink {
  text-decoration: none;
  color: #262D33;
}

.article-grid-permalink:hover {
  color: #262D33;
}

.article-grid-item {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  padding: 35px 35px 53px 35px;
  position: relative;
  overflow: hidden;
}

.article-grid-item-1 .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6E99AE;
}

.article-grid-item-1 .article-grid-title {
  width: 50%;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.article-grid-item-1 .article-grid-excerpt {
  font-size: 14px;
  line-height: 20px;
  width: 50%;
  margin-bottom: 40px;
}

.article-grid-item-1 .article-grid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 35px;
  border-top: 1px solid #D9DADB;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-grid-item-1 .article-grid-info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-1 .article-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-info .author-name {
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
}

.article-grid-item-1 .article-grid-info .author-name strong {
  font-family: 'Lato Black', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  background-color: transparent;
}

.article-grid-item-2::before {
  content: '';
  position: absolute;
  z-index: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  width: 100%;
  height: 100%;
}

.article-grid-item-2 .article-grid-thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin-top: 23px;
  margin-bottom: 27px;
  color: #ffffff;
  text-transform: uppercase;
}

.article-grid-item-2 .tag {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}

.article-grid-item-2 .category-name {
  margin-top: auto;
  color: #E7D9FF;
  font-family: 'Lato Black', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.article-grid-item-2 .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .author-info {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10px;
}

.article-grid-item-2 .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .author-name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.article-grid-item-2 .date, .article-grid-item-2 .comments, .article-grid-item-2 .likes {
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .date:not(:last-child), .article-grid-item-2 .comments:not(:last-child), .article-grid-item-2 .likes:not(:last-child) {
  margin-right: 7px;
}

.article-grid-item-2 .date-counter, .article-grid-item-2 .comments-counter, .article-grid-item-2 .likes-counter {
  margin-left: 5px;
  color: #ffffff;
}

.article-grid-item-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
}

.article-grid-item-3 .article-thumb {
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.article-grid-item-3 .article-grid-title {
  padding: 15px 25px 35px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.article-grid-item-default {
  position: relative;
}

.article-grid-item-default .article-grid-permalink {
  padding: 25px 25px 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-grid-item-default .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 5px;
}

.article-grid-item-default .article-grid-excerpt {
  margin-top: 0;
  margin-bottom: auto;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-icon {
  fill: #BCBFC2;
}

.comments-icon-white {
  fill: #fff;
}

.comments-counter {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
  margin-left: 5px;
}

body {
  counter-reset: section;
}

.sidebar-front-page {
  padding-top: 30px;
  width: 23%;
}

.sidebar-front-page .widget-social-wrapper {
  padding: 10px 30px 20px;
}

.widget {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.widget-title {
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Black", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.widget-downloader {
  background: #3BBDC4 url("../images/file.svg") no-repeat top 22px right 24px;
  border-radius: 10px;
  color: #ffffff;
  padding: 25px;
  padding-bottom: 55px;
  position: relative;
}

.widget-downloader .widget-title {
  text-transform: none;
  margin-top: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: none;
  padding: 0;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
  fill: #fff;
}

.widget-downloader .description {
  color: #C1F4F5;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.widget-social {
  padding-bottom: 60px;
}

.widget-social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget-social-icon {
  margin-left: 6px;
  margin-right: 6px;
}

.widget-social-icon-ig {
  fill: #b62b73;
}

.widget-social-icon-vk {
  fill: #45668e;
}

.widget-social-icon-fb {
  fill: #4267B2;
}

.widget-social-icon-tw {
  fill: #1DA1F2;
}

.widget-social .widget-title {
  text-align: center;
  border: none;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  line-height: 25px;
  text-transform: none;
  padding: 30px 25px 31px 25px;
}

.widget-social .widget-link {
  text-decoration: none;
}

.widget-recent-posts-wrapper {
  padding: 17px 25px;
}

.widget-recent-posts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
}

.widget-recent-posts a:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts a::before {
  position: absolute;
  right: 5px;
  color: #262D33;
  opacity: 0.08;
  font-size: 70px;
  line-height: 50px;
  font-family: "Lato Black", sans-serif;
  font-style: italic;
  counter-increment: section;
  content: counter(section);
}

.widget-recent-posts img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.widget-recent-posts h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4B5157;
  margin-top: 0;
  margin-bottom: 3px;
}

.widget-recent-posts span {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
}

.widget .tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px;
  padding-bottom: 13px;
}

.widget .tag-cloud-link {
  margin-right: 10px;
  margin-bottom: 15px;
  line-height: 20px;
  color: #262D33;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
  margin-bottom: 30px;
}

.investigation-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  max-width: 946px;
  margin: 0 auto 25px;
}

.hotnews {
  width: 74%;
  list-style: none;
  padding: 0;
  margin: 30px 0 60px 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 25px;
}

.hotnews-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hotnews-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.hotnews-item:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.hotnews-item-permalink {
  text-decoration: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hotnews-img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 25px;
  margin-bottom: 0;
}

.hotnews-info {
  position: relative;
  width: 100%;
}

.hotnews .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotnews .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.hotnews-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 400px;
}

.hotnews-excerpt {
  margin: 0 0 20px;
  color: #262D33;
}

.hotnews-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotnews-date, .hotnews-likes, .hotnews-comments {
  margin-right: 11px;
  color: #939699;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmark {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  cursor: pointer;
}

.special {
  background-color: #262D33;
  padding: 60px 0;
  color: #ffffff;
}

.special-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-report {
  min-height: 570px;
  width: 48.5%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 30px;
}

.photo-report .category-link {
  color: #FFFFFF;
  border-radius: 3px;
  background: #3DC47E;
  font-size: 12px;
  line-height: 15px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-transform: none;
  padding: 5px 12px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.photo-report .author {
  text-align: center;
  text-decoration: none;
}

.photo-report .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.photo-report .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.photo-report .author-avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-bottom: 8px;
}

.photo-report::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  z-index: 1;
}

.photo-report-button {
  color: #ffffff;
  background: #4592FF;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  fill: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.photo-report-button:hover {
  color: #ffffff;
}

.photo-report-button:visited {
  color: #ffffff;
}

.photo-report-counter {
  margin-left: 8px;
}

.photo-report-icon {
  margin-right: 8px;
}

.photo-report-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 18px;
  height: 100%;
  text-align: center;
}

.photo-report-slider {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.photo-report-slider .swiper-slide {
  height: 100%;
}

.photo-report-slider .swiper-slide img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-report-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
}

.other {
  width: 48.5%;
  border-radius: 10px;
}

.other .career-post {
  height: 61%;
  border-radius: 10px;
  padding: 35px 35px 50px 35px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-image: url(../images/briefcase.png);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: #b4d1e0;
}

.other .career-post-title {
  width: 50%;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  margin: 20px 0 15px 0;
}

.other .career-post-excerpt {
  font-size: 14px;
  line-height: 20px;
  width: 50%;
  margin-bottom: 45px;
  color: #4B5157;
}

.other .career-post .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6E99AE;
}

.other-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other-posts {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  padding: 25px 25px 30px;
}

.other-posts:not(:last-child) {
  margin-right: 30px;
}

.other-posts-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 5px;
}

.other-posts-title-excerpt {
  margin-top: 0;
  margin-bottom: auto;
}

.footer {
  padding: 60px 0 55px;
  background-color: #fff;
}

.footer-menu {
  border-top: 3px solid #000;
  padding-right: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer-menu:nth-child(1) {
  border-top: 3px solid #FF4F52;
}

.footer-menu:nth-child(2) {
  border-top: 3px solid #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-top: 3px solid #4592FF;
}

.footer-menu:nth-child(4) {
  border-top: 3px solid #FFA34D;
}

.footer-menu:nth-child(5) {
  border-top: 3px solid #3DC47E;
}

.footer-menu:nth-child(6) {
  border-top: 3px solid #6E99AE;
}

.footer-menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu-title {
  font-family: "Lato Black", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu ul a {
  text-decoration: none;
  display: inline-block;
  color: #4B5157;
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 20px;
}
